.box-B{
  height: 40%;
}
.box-A{
    background-color: lightslategray;    
}
.bigbox{
    color: gray;
}
.resume-link{
    background-color: rgb(30, 30, 30);
    color: rgb(100, 100, 100);
}
.me{
    color: black;
}