:root{
    --yellow: #ffd447;
    --brown: #4C1C00;
    --blue: #092086;
    --red: #880000;
    --tan: #be8d4d;
    --green: #079c07;
    --orange: #db7c00;

    --font1: 'Audiowide', cursive;
    --font2: 'Merriweather', serif;
    --font3: 'Caveat Brush', 'cursive';
    --font4: 'Itim', 'cursive;'
}