body{
    background-image: url("https://images.pexels.com/photos/89786/cup-of-coffee-laptop-office-macbook-89786.jpeg?auto=compress&cs=tinysrgb&h=350");
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    background-color: gray;
}
h1{
    text-align: center;
    font-size: 50px;

    animation-duration: 1s;
        animation-name: dropin;
} 
      
      @keyframes dropin {
        from {
          margin-top: 100%;
          /* width: 300%;  */
        }
      
        to {
          margin-top: 0%;
          /* width: 100%; */
        }
    }
      
    



h3{
    text-align: center;   
}
p{
    text-align: center;
    
        /* animation-duration: 7s; */
        /* animation-name: slidein; */
      }
      
      /* @keyframes slidein {
        from {
          margin-left: 100%;
           width: 300%;  
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      } */
    

.div1{
    padding: 25%;
}
 
a:hover {
    background-color: rgb(100, 100, 100)
}